In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lebu,CL,2022-10-16 20:30:11,-37.6167,-73.6500,54.00,83,82,14.16
1,1,Souillac,MU,2022-10-16 20:30:11,-20.5167,57.5167,71.98,83,40,5.75
2,2,Saskylakh,RU,2022-10-16 20:30:12,71.9167,114.0833,16.54,92,66,16.08
3,3,Rocha,UY,2022-10-16 20:30:13,-34.4833,-54.3333,57.61,92,86,12.97
4,4,Port Alfred,ZA,2022-10-16 20:30:13,-33.5906,26.8910,66.18,92,100,20.56

In [10]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
#GENERAL HEATMAP SYNTAX


# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
#fig

In [16]:
city_data_df['Max Temp']

0      54.00
1      71.98
2      16.54
3      57.61
4      66.18
       ...
560    80.37
561    70.02
562    77.97
563    54.10
564    42.78
Name: Max Temp, Length: 565, dtype: float64

In [18]:
city_data_df.loc[city_data_df['Max Temp'] < 0]

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
186,186,Bilibino,RU,2022-10-16 20:35:37,68.0546,166.4372,-12.75,100,89,3.33
334,334,Seymchan,RU,2022-10-16 20:39:45,62.8833,152.4333,-2.83,100,100,1.95

In [20]:
# HOW TO HANDLE TEMPS LESS THAN 0 (SINCE WEIGHTS CAN'T BE LESS THAN ZERO). CYCLE THROUGH DF AND CHANGE
# NEGATIVE NUMBERS TO 0'S

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [28]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
#fig = gmaps.figure()

# CENTER IMAGE ON THE CENTER OF EARCH AND ZOOM SO ONLY ONE EARTH IS SHOWN
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# ALTERNATE LIST COMPREHENSION METHOD, FOR INCREASED SPEED?
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)



# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Puerto Ayora,EC,2022-10-16 20:30:15,-0.7393,-90.3518,76.96,86,85,5.01
10,10,Hilo,US,2022-10-16 20:30:16,19.7297,-155.0900,83.25,78,100,5.75
11,11,Georgetown,MY,2022-10-16 20:27:55,5.4112,100.3354,77.90,89,20,0.00
16,16,Port-Gentil,GA,2022-10-16 20:30:19,-0.7193,8.7815,78.76,94,75,5.75
25,25,Nouakchott,MR,2022-10-16 20:27:33,18.0858,-15.9785,78.73,66,1,17.29
27,27,Bontang,ID,2022-10-16 20:30:25,0.1333,117.5000,76.82,89,98,4.50
29,29,Buchanan,LR,2022-10-16 20:30:27,5.8808,-10.0467,76.69,85,90,5.84
30,30,Atuona,PF,2022-10-16 20:30:27,-9.8000,-139.0333,76.35,74,5,10.42
46,46,Buala,SB,2022-10-16 20:31:35,-8.1450,159.5921,81.82,75,63,5.66
52,52,Samana,DO,2022-10-16 20:31:37,19.2056,-69.3369,88.02,74,40,9.22

In [34]:
len(preferred_cities_df)

152

In [35]:
# RETURNS NON-NULL VALUES?

preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [48]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp      Lat       Lng Hotel Name
7      Puerto Ayora      EC     76.96  -0.7393  -90.3518
10             Hilo      US     83.25  19.7297 -155.0900
11       Georgetown      MY     77.90   5.4112  100.3354
16      Port-Gentil      GA     78.76  -0.7193    8.7815
25       Nouakchott      MR     78.73  18.0858  -15.9785
..              ...     ...       ...      ...       ...        ...
547          Manati      PR     83.71  18.4275  -66.4921
552       Nchelenge      ZM     76.15  -9.3451   28.7340
557      Oranjestad      AW     87.75  12.5240  -70.0270
560  Kulhudhuffushi      MV     80.37   6.6221   73.0700
562          Sorong      ID     77.97  -0.8833  131.2500

[152 rows x 6 columns]

In [49]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [50]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [51]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
10,Hilo,US,83.25,19.7297,-155.0900,Hilo Hawaiian Hotel
11,Georgetown,MY,77.90,5.4112,100.3354,Cititel Penang
16,Port-Gentil,GA,78.76,-0.7193,8.7815,Fengshui Residence
25,Nouakchott,MR,78.73,18.0858,-15.9785,HOTEL IMAN
...,...,...,...,...,...,...
547,Manati,PR,83.71,18.4275,-66.4921,Manati World Point Inn
552,Nchelenge,ZM,76.15,-9.3451,28.7340,KD Travellers Home
557,Oranjestad,AW,87.75,12.5240,-70.0270,Divi Village Golf & Beach Resort
560,Kulhudhuffushi,MV,80.37,6.6221,73.0700,Haajy Guest House 1
562,Sorong,ID,77.97,-0.8833,131.2500,Waigo Splash Hotel

In [53]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [55]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))