# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [33]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
# YOUR CODE HERE
city_data_df = pd.read_csv(file_path) 

# Display sample data
# YOUR CODE HERE

city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Avera,US,33.1940,-82.5271,64.45,59,100,7.23,overcast clouds
1,1,Ankara,TR,39.9199,32.8543,56.59,86,75,9.22,broken clouds
2,2,Hailar,CN,49.2000,119.7000,38.35,26,3,12.15,clear sky
3,3,Kruisfontein,ZA,-34.0033,24.7314,73.89,50,6,9.28,clear sky
4,4,Albany,US,42.6001,-73.9662,46.35,84,100,2.80,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [14]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
9,9,Malegaon,IN,20.5500,74.5333,82.60,65,91,6.96,overcast clouds
14,14,Mahibadhoo,MV,3.7833,72.9667,81.54,74,89,18.54,overcast clouds
16,16,Bandarbeyla,SO,9.4942,50.8122,82.20,66,27,6.96,light rain
23,23,Filingue,NE,14.3521,3.3168,88.95,22,3,6.40,clear sky
28,28,Faanui,PF,-16.4833,-151.7500,78.82,72,13,12.82,few clouds

In [15]:
len(preferred_cities_df)

223

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [16]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.

clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
# YOUR CODE HERE

clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
9,9,Malegaon,IN,20.5500,74.5333,82.60,65,91,6.96,overcast clouds
14,14,Mahibadhoo,MV,3.7833,72.9667,81.54,74,89,18.54,overcast clouds
16,16,Bandarbeyla,SO,9.4942,50.8122,82.20,66,27,6.96,light rain
23,23,Filingue,NE,14.3521,3.3168,88.95,22,3,6.40,clear sky
28,28,Faanui,PF,-16.4833,-151.7500,78.82,72,13,12.82,few clouds

In [17]:
len(clean_travel_cities)

223

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [18]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country","Max Temp","Description","Lat","Lng"]].copy()

# Display sample data
# YOUR CODE HERE

hotel_df.head()

           City Country  Max Temp      Description      Lat       Lng
9      Malegaon      IN     82.60  overcast clouds  20.5500   74.5333
14   Mahibadhoo      MV     81.54  overcast clouds   3.7833   72.9667
16  Bandarbeyla      SO     82.20       light rain   9.4942   50.8122
23     Filingue      NE     88.95        clear sky  14.3521    3.3168
28       Faanui      PF     78.82       few clouds -16.4833 -151.7500

In [19]:
len(hotel_df)

223

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [20]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
# YOUR CODE HERE

hotel_df["Hotel Name"] = ""

# Display sample data
# YOUR CODE HERE

hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
9,Malegaon,IN,82.60,overcast clouds,20.5500,74.5333,
14,Mahibadhoo,MV,81.54,overcast clouds,3.7833,72.9667,
16,Bandarbeyla,SO,82.20,light rain,9.4942,50.8122,
23,Filingue,NE,88.95,clear sky,14.3521,3.3168,
28,Faanui,PF,78.82,few clouds,-16.4833,-151.7500,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [21]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [22]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
# Display sample data
# YOUR CODE HERE

hotel_df.head(50)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
9,Malegaon,IN,82.60,overcast clouds,20.5500,74.5333,Dinesh Lodge
14,Mahibadhoo,MV,81.54,overcast clouds,3.7833,72.9667,Omadhoo Inn
16,Bandarbeyla,SO,82.20,light rain,9.4942,50.8122,JABIR HOTEL
23,Filingue,NE,88.95,clear sky,14.3521,3.3168,Chez Zarkilou Issa
28,Faanui,PF,78.82,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
39,Kavieng,PG,82.62,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
45,Meulaboh,ID,84.90,overcast clouds,4.1363,96.1285,Kost Pria
47,Butaritari,KI,81.59,few clouds,3.0707,172.7902,Isles Sunset Lodge
52,Bambous Virieux,MU,76.21,light intensity shower rain,-20.3428,57.7575,Casa Tia Villa
53,Rosamorada,MX,76.57,overcast clouds,22.1222,-105.2058,Hotel Gonzalez
54,Ixtapa,MX,82.22,overcast clouds,20.7000,-105.2000,hotel la terminal
56,Vanimo,PG,81.32,scattered clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
57,Hilo,US,81.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
60,Kattivakkam,IN,89.69,overcast clouds,13.2167,80.3167,Euronova Freezer
64,Nouakchott,MR,80.53,light rain,18.0858,-15.9785,HOTEL IMAN
66,Migori,KE,79.70,overcast clouds,-1.0634,34.4731,"Calabash Hotel, Migori"
74,Kapaa,US,79.12,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
76,Samarinda,ID,87.49,broken clouds,-0.5000,117.1500,ASTON Samarinda Hotel & Convention Center
81,Puerto Cabezas,NI,77.04,overcast clouds,14.0351,-83.3888,Cabaña Caribe
83,Kahului,US,78.84,clear sky,20.8947,-156.4700,Maui Seaside Hotel
88,San Pedro,PH,85.32,broken clouds,14.3500,121.0167,Palines Apartment and Guesthouse
94,Georgetown,MY,89.53,few clouds,5.4112,100.3354,Cititel Penang
98,Innisfail,AU,77.58,few clouds,-17.5333,146.0333,Moondarra Motel
99,Barpeta,IN,86.14,clear sky,26.3167,91.0000,Baba Ka Dhaba Hotel
101,Salalah,OM,89.69,broken clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
105,San Patricio,US,80.49,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
106,Touros,BR,76.89,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
108,Tsiroanomandidy,MG,87.58,clear sky,-18.7667,46.0333,Hotel Ravinala
110,Bengkulu,ID,81.34,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
114,Kasongo-Lunda,CD,83.23,scattered clouds,-6.4667,16.8167,NaN
115,Am Timan,TD,85.23,broken clouds,11.0297,20.2827,Palais du chef Canton Salamt
116,Atuona,PF,76.50,few clouds,-9.8000,-139.0333,Villa Enata
119,Podor,MR,84.15,clear sky,16.6527,-14.9587,Auberge Du Tékrour
122,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
127,Port Alfred,ZA,76.17,overcast clouds,-33.5906,26.8910,The Halyards Hotel
128,Carutapera,BR,78.44,scattered clouds,-1.1950,-46.0200,Lidera
132,Saint-Philippe,RE,78.39,light rain,-21.3585,55.7679,Le four à pain
134,Likasi,CD,83.03,clear sky,-10.9814,26.7333,TABERNACLE DE LIKASI
138,Husainabad,IN,85.30,clear sky,24.5333,84.0167,Mehdinager
141,Axim,GH,79.09,light rain,4.8699,-2.2405,Axim Beach Resort And Spa
142,Mangai,CD,83.86,scattered clouds,-4.0500,19.5333,NaN
144,Aswan,EG,79.90,clear sky,24.0934,32.9070,Nuba Nile
146,Quatre Cocos,MU,76.08,scattered clouds,-20.2078,57.7625,Sunrise Attitude Hotel
148,Coahuayana,MX,77.11,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
150,Sattenapalle,IN,86.50,overcast clouds,16.4000,80.1833,Subhani hot hot tiffen ceanter
151,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
155,Wanning,CN,81.10,overcast clouds,18.8003,110.3967,Paradise Hotel
156,Beira,MZ,82.49,scattered clouds,-19.8436,34.8389,Beira Terrace Hotel
158,Hluti,SZ,79.83,broken clouds,-27.2167,31.6167,NaN
159,Tanda,IN,84.69,clear sky,26.5500,82.6500,MUMTAZ GANJ TANDA

In [42]:
len(hotel_df)

223

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [49]:
# Convert empty rows to NaN per https://stackoverflow.com/questions/29314033/drop-rows-containing-empty-cells-from-a-pandas-dataframe

convert_hotel_df=hotel_df["Hotel Name"].replace('',np.nan)
convert_hotel_df.head(50)

9                                   Dinesh Lodge
14                                   Omadhoo Inn
16                                   JABIR HOTEL
23                            Chez Zarkilou Issa
28            Bora-Bora Pearl Beach Resort & Spa
39                           Nusa Island Retreat
45                                     Kost Pria
47                            Isles Sunset Lodge
52                                Casa Tia Villa
53                                Hotel Gonzalez
54                             hotel la terminal
56                         Vahmoneh Lodge Vanimo
57                           Hilo Hawaiian Hotel
60                              Euronova Freezer
64                                    HOTEL IMAN
66                        Calabash Hotel, Migori
74           Sheraton Kauai Coconut Beach Resort
76     ASTON Samarinda Hotel & Convention Center
81                                 Cabaña Caribe
83                            Maui Seaside Hotel
88              Palines Apartment and Guesthouse
94                                Cititel Penang
98                               Moondarra Motel
99                           Baba Ka Dhaba Hotel
101     HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
105                           Motel 6 Sinton, TX
106                              INN NEW HORIZON
108                               Hotel Ravinala
110                         Grage Hotel Bengkulu
114                                          NaN
115                 Palais du chef Canton Salamt
116                                  Villa Enata
119                           Auberge Du Tékrour
122                          Keleti Beach Resort
127                           The Halyards Hotel
128                                       Lidera
132                               Le four à pain
134                         TABERNACLE DE LIKASI
138                                   Mehdinager
141                    Axim Beach Resort And Spa
142                                          NaN
144                                    Nuba Nile
146                       Sunrise Attitude Hotel
148            El rranchito michuacan de ocampos
150               Subhani hot hot tiffen ceanter
151                                 Paradise Inn
155                               Paradise Hotel
156                          Beira Terrace Hotel
158                                          NaN
159                            MUMTAZ GANJ TANDA
Name: Hotel Name, dtype: object

In [51]:
# Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna()

# Display sample data
# YOUR CODE HERE

clean_hotel_df.head(50)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
9,Malegaon,IN,82.60,overcast clouds,20.5500,74.5333,Dinesh Lodge
14,Mahibadhoo,MV,81.54,overcast clouds,3.7833,72.9667,Omadhoo Inn
16,Bandarbeyla,SO,82.20,light rain,9.4942,50.8122,JABIR HOTEL
23,Filingue,NE,88.95,clear sky,14.3521,3.3168,Chez Zarkilou Issa
28,Faanui,PF,78.82,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
39,Kavieng,PG,82.62,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
45,Meulaboh,ID,84.90,overcast clouds,4.1363,96.1285,Kost Pria
47,Butaritari,KI,81.59,few clouds,3.0707,172.7902,Isles Sunset Lodge
52,Bambous Virieux,MU,76.21,light intensity shower rain,-20.3428,57.7575,Casa Tia Villa
53,Rosamorada,MX,76.57,overcast clouds,22.1222,-105.2058,Hotel Gonzalez
54,Ixtapa,MX,82.22,overcast clouds,20.7000,-105.2000,hotel la terminal
56,Vanimo,PG,81.32,scattered clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
57,Hilo,US,81.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
60,Kattivakkam,IN,89.69,overcast clouds,13.2167,80.3167,Euronova Freezer
64,Nouakchott,MR,80.53,light rain,18.0858,-15.9785,HOTEL IMAN
66,Migori,KE,79.70,overcast clouds,-1.0634,34.4731,"Calabash Hotel, Migori"
74,Kapaa,US,79.12,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
76,Samarinda,ID,87.49,broken clouds,-0.5000,117.1500,ASTON Samarinda Hotel & Convention Center
81,Puerto Cabezas,NI,77.04,overcast clouds,14.0351,-83.3888,Cabaña Caribe
83,Kahului,US,78.84,clear sky,20.8947,-156.4700,Maui Seaside Hotel
88,San Pedro,PH,85.32,broken clouds,14.3500,121.0167,Palines Apartment and Guesthouse
94,Georgetown,MY,89.53,few clouds,5.4112,100.3354,Cititel Penang
98,Innisfail,AU,77.58,few clouds,-17.5333,146.0333,Moondarra Motel
99,Barpeta,IN,86.14,clear sky,26.3167,91.0000,Baba Ka Dhaba Hotel
101,Salalah,OM,89.69,broken clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
105,San Patricio,US,80.49,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
106,Touros,BR,76.89,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
108,Tsiroanomandidy,MG,87.58,clear sky,-18.7667,46.0333,Hotel Ravinala
110,Bengkulu,ID,81.34,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
115,Am Timan,TD,85.23,broken clouds,11.0297,20.2827,Palais du chef Canton Salamt
116,Atuona,PF,76.50,few clouds,-9.8000,-139.0333,Villa Enata
119,Podor,MR,84.15,clear sky,16.6527,-14.9587,Auberge Du Tékrour
122,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
127,Port Alfred,ZA,76.17,overcast clouds,-33.5906,26.8910,The Halyards Hotel
128,Carutapera,BR,78.44,scattered clouds,-1.1950,-46.0200,Lidera
132,Saint-Philippe,RE,78.39,light rain,-21.3585,55.7679,Le four à pain
134,Likasi,CD,83.03,clear sky,-10.9814,26.7333,TABERNACLE DE LIKASI
138,Husainabad,IN,85.30,clear sky,24.5333,84.0167,Mehdinager
141,Axim,GH,79.09,light rain,4.8699,-2.2405,Axim Beach Resort And Spa
144,Aswan,EG,79.90,clear sky,24.0934,32.9070,Nuba Nile
146,Quatre Cocos,MU,76.08,scattered clouds,-20.2078,57.7625,Sunrise Attitude Hotel
148,Coahuayana,MX,77.11,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
150,Sattenapalle,IN,86.50,overcast clouds,16.4000,80.1833,Subhani hot hot tiffen ceanter
151,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
155,Wanning,CN,81.10,overcast clouds,18.8003,110.3967,Paradise Hotel
156,Beira,MZ,82.49,scattered clouds,-19.8436,34.8389,Beira Terrace Hotel
159,Tanda,IN,84.69,clear sky,26.5500,82.6500,MUMTAZ GANJ TANDA
160,Dakar,SN,79.68,overcast clouds,14.6937,-17.4441,Novotel Dakar
162,Canton,CN,85.95,overcast clouds,23.1167,113.2500,Shangjiuwan Hotel
167,Yarada,IN,88.12,light rain,17.6500,83.2667,Yarada Jungle Beach Resorts

In [52]:
len(clean_hotel_df)

205

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [53]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [54]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
# YOUR CODE HERE

clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [57]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [58]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Dinesh Lodge</dd>\n<dt>City</dt><dd>Malegaon</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Omadhoo Inn</dd>\n<dt>City</dt><dd>Mahibadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>JABIR HOTEL</dd>\n<dt>City</dt><dd>Bandarbeyla</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>light rain and 82.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Chez Zarkilou Issa</dd>\n<dt>City</dt><dd>Filingue</dd>\n<dt>Country</dt><dd>NE</dd>\n<dt>Current Weather</dt><dd>clear sky and 88.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nusa Island Retreat</dd>\n<dt>City</dt><dd>Kavieng</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kost Pria</dd>\n<dt>City</dt><dd>Meulaboh</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>few clouds and 81.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>light intensity shower rain and 76.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Gonzalez</dd>\n<dt>City</dt><dd>Rosamorada</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.57 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [59]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
9   20.5500   74.5333
14   3.7833   72.9667
16   9.4942   50.8122
23  14.3521    3.3168
28 -16.4833 -151.7500
39  -2.5744  150.7967
45   4.1363   96.1285
47   3.0707  172.7902
52 -20.3428   57.7575
53  22.1222 -105.2058

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [62]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
# YOUR CODE HERE

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Display the figure containing the map
# YOUR CODE HERE

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))